* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #202124;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.header a {
  margin-right: 20px;
  color: white;
  font-size: 15px;
  text-decoration: inherit;
  font-family: Arial, sans-serif;
}

.header a:hover {
  text-decoration: underline;
}

.header_right {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
}

.header_right .header__apps {
  margin-right: 10px;
}
.mainBody {
  flex: 1;
  display: flex;
  margin-top: 12%;
  flex-direction: column;
}

.mainBody img {
  object-fit: contain;
  height: 100px;
}

.search{

}
.search__input {
  display: flex;
  align-items: center;
  border: 1px solid rgb(133, 123, 123);
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
  color: rgb(116, 121, 119);
}

.search__input input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: rgb(116, 121, 119);
}
.search__input input:hover {
  text-decoration: none;
}
.search__input .material-icons {
  color: grey;
}
.search__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  
}

 
.search_buttons button {
  margin: 5px;
  padding: 10px 15px;
  background-color: aliceblue;
  outline: none;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  
  
  
  
}
.details {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.details a {
  color: #83aced;; 
  margin: 0 5px; 
  text-decoration: none;
}

